﻿@model IEnumerable<Vidly.Models.Filme>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmes</h2>
<a class="btn btn-primary" href="NovoFilme" role="button">Novo Filme</a>
<br /><br />
@if (!Model.Any())
{
    <text>Não há Filmes cadastrados.</text>
}
else
{
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Filme</th>
                <th>Gênero</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var filme in Model)
            {
                <tr>
                    <td>@Html.ActionLink(filme.Nome, "EditarFilme", "Filmes", new { id = filme.Id }, null)</td>
                    <td>@filme.GeneroDoFilme.Nome</td>
                </tr>
            }
        </tbody>
    </table>
}



