﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vidly", "", "", new { area = "" }, new { @class = "navbar-brand" })

            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Clientes", "ListarClientes", "Clientes")</li>
                <li>@Html.ActionLink("Filmes", "ListarFilmes", "Filmes")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Registar", "", "")</li>
                <li>@Html.ActionLink("Entrar", "", "")</li>
            </ul>
        </div>
    </div>
</div>