﻿@model IEnumerable<Vidly.Models.Cliente>

@{
    /**/

    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@if (!Model.Any())
{
    <text>Não há clientes cadastrados.</text>
}
else
{
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Cliente</th>
                <th>Taxa Desconto</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@Html.ActionLink(cliente.Nome, "EditarCliente", "Clientes", new { id = cliente.Id }, null)</td>
                    <td>@cliente.TipoDeMembro.Nome</td>
                </tr>
            }
        </tbody>
    </table>
}